
# specific files / directories we don't need
/bootloader/build/obj/
/bootloader/build/bin/

# types of files we don't need
## cult of vi
*.swp
## object files; don't need 'em, don't want 'em
*.o
## the bootloader
*.boot
## scons leaves these everywhere. They're file hashes to determine when
##  rebuilding is necessary.
.sconsign.dblite


